@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

html, body {
    background-color: rgb(78, 78, 78);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

div.classif {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-image: linear-gradient(to bottom right,hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    padding: 3%;
    width: 400px;
    height: 450px;
    border-radius: 25px;

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

div.classif > img {
    background-color: hsl(213, 19%, 18%);
    width: 45px;
    height: 45px;
    padding: 12px;
    border-radius: 50%;
}

section#login > div#formulario {
    display: block;
    padding: 20px 30px;
}

div.classif > h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: white;

    padding-top: 25px;
    margin: 10px 0px;
}

/* div#formulario > h3 {
    font-family: 'Montserrat', serif;
    font-size: small;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
} */

div.classif > p {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: hsl(217, 12%, 63%);
    line-height: 18pt;
}

div.classif > section.rating-line {
    display: flex;
    gap: 27px;
    margin: 25px 1px;
}

section.rating-line > span.rating {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
}

section.rating-line > .circle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 55px;
    height: 55px;

    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    cursor: pointer;
}

section.rating-line > .circle:hover {
    background-color: hsl(217, 12%, 63%);
}

section.rating-line > .circle.selected {
    background-color: hsl(25, 97%, 53%);
}

div.classif > form > input {
    display: flex;
    justify-content: center;
    
    width: 95%;
    height: 40px;
    margin-top: 10%;

    background-color: hsl(25, 97%, 53%);
    color: white;
    border-radius: 25px;
    border: none;

    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
}


/*///////////////////////////////////////////////////////////////////////////*/


div.thx {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 450px;
    padding: 15%;

    background-image: linear-gradient(to bottom right,hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    /* z-index: 999999999; */
    flex-direction: column;
    align-items: center;

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;

}

div.thx > img {
    width: 150px;
    height: 120px;
}

div.thx > span {
    margin: 25px 1px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
    color: hsl(25, 97%, 53%);
    text-align: center;
}

div.thx > h1 {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 2em;
    text-align: center;
}

div.thx > p {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: hsl(217, 12%, 63%);
    line-height: 18pt;
    padding-top: 20px;
}