 @charset "UTf-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width:992px) {

    body {
        background-image: linear-gradient(to top, gray, black);
    }

    section {
        width: 90vw;
        height: 850px;
    }

    #itens > div  {
        width: 230px;
        height: 185px;
        border-radius: 15px;
        background-color: #f0f0f0; /* Adicionei uma cor de fundo para visualização */
        text-align: center;
        line-height: 120px; /* Ajuste para centralizar verticalmente o conteúdo */
    }

}

@media screen and (min-width:992px) {

    body {
        background-image: linear-gradient(to top, gray, black);
    }

    section {
        width: 950px;
    }
    
}