@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:992px)  {
    div.formulario {
        background-color: #242b284a;
        border-radius: 15%;
        position: relative;
        top: 15%;
        left: 16%;
        overflow: hidden;
        width: 50%;
        height: 74%;
    
    }
    
    section{
        position: relative;
        top: 3%;
        width: 100%;
    }

    div.campo1 {
        width: 100%;
        padding-bottom: 10px;
    }
    
    div.campo2 {
        width: 100%;
    }

    .countdown {
        display: flex;
        width: 300px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .countdown p {
        color: #242b2800;
    }


}

@media screen and (min-width: 500px) and (max-width: 768px) {

    body {
        background-image: url(image/canetaazul550.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    div.formulario {
        background-color: #242b284a;
        border-radius: 15%;
        position: relative;
        top: 15%;
        left: 26%;
        overflow: hidden;
        width: 50%;
        height: 74%;
    
    }
    
    section{
        position: relative;
        top: 3%;
        width: 100%;
    }

    div.campo1 {
        width: 100%;
        padding-bottom: 10px;
    }
    
    div.campo2 {
        width: 100%;
    }

    .centralTT {
        text-align: center;
        font-size: 2.3em;
    }
    
    .centralTxT {
        text-align: center;
        font-size: 12px;
    }

    .container {
        padding-right: 2%;
    }
    
    .countdown {
        display: flex;
        width: 80%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .countdown h1 {
        font-size: calc(18px + 3vw);
        text-shadow: 0 0 10px whitesmoke;
    }

    .countdown p {
        display: none;
    }
}