@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('idroid.otf');
}

:root {

    --cor0: aliceblue;
    --cor1: #d6b4fc;
    --cor2: #b879ff;
    --cor3: #af69ff;
    --cor4: #9232ff;
    --cor5: #601eacb4;

    --fonte-padrao: arial. verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android:'idroid', cursive;
}

body {
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to top, #9232ff, #af69ff, #b879ff, #d6b4fc );
    margin: -22px -10px -1px -9px;
    padding: 13px 0px 0px 0px;
    text-align: center;
}

nav {
    background-color: var(--cor3);
    text-align: left;
    padding: 10px;
    margin: 0px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: #f0f8ff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor5);
    text-decoration: none;
}

main {
    background-color: var(--cor0);
    margin: auto;
    padding: 10px;
    max-width: 800px;
    min-width: 320px;
    box-shadow: 0px 1px 8px 5px #9b53ec9d;
}

main > h1 {
    font-family: 'idroid';
}

main > h2 {
    font-family: 'idroid';
    color: #7700ff;
}

main > p {
    text-align: justify;
    text-indent: 15px;
}

.subtexto {
    background-image: linear-gradient(to right, #bb76f0,#c995f1, #d7b2f5, #decdf3, aliceblue);
    font-family: 'idroid';
    font-size: 17px;
    color: #7700ff;
    text-indent: 6px;
}


.imagemg {
    max-width: 1000px;
    width: 100%;
}

.imagem2 > picture > img {
    width: 100%;
    max-width: 400px;
}

.imagem {
    text-align: center;
}

.video {
    background-color: var(--cor5);
    margin: auto;
    padding: 10px;
    max-width: 800px;
    min-width: 320px;
    box-shadow: 0px 1px 8px 5px #9b53ec9d;
}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
    max-width: 800px;
    min-width: 320px;
    background-color: var(--cor3);
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

aside {
    background-color: var(--cor0);
    margin: auto;
    padding: 10px;
    max-width: 800px;
    min-width: 320px;
    border-radius: 1px 1px 15px 15px;
    box-shadow: 0px 1px 8px 5px #9b53ec9d;
}

article {
    background-color: #c897ff;
    margin: 15px 5px 10px 5px;
    padding: 1px 8px 1px 8px;
    border-radius: 15px;
}

article > ul {
    columns: 2;
}

.artigo {
    background-color: #7700ff;
    margin: -1px -8px 10px -8px;
    padding: 6px 1px 6px 1px;
    border-radius: 15px 15px 1px 1px;
}

abbr {
    text-decoration: none;
    color: #7700ff;
}

footer {
    background-color: #7700ff9d;
    text-align: center;
    padding: 4px;
    margin: 10px -15px -10px -15px;
}
