@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    font-family: var(--font1);
}

header > h1 {
    font-family: var(--font2);
    font-variant: small-caps;
    font-size: 10vw;
}

header a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

main {
    min-width: 200px;
    max-width: auto;
}

div {
    line-height: 5em;
}

div > p {
    padding: 15px 20px 40px 10px;
    font-family: var(--font3);
    font-size: 45px;
}
div.normal{
    margin: 50px 0px 50px 0px;
    padding: 30px 1px 45px 20px;
    background-color: white;
    color: black;
}

div.normal > p {
    display: inline-block;
}

div.wallpaper {
    margin: 50px 0px 50px 0px;
    padding: 30px 1px 45px 20px;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div.wallpaper > p {
    margin: 50px 52vw 25px 0px;
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
}

div#img01 {
    background-image: url(imagens/baki.jpg);
}

div#img02 {
    background-image: url(imagens/jojo.jpg);
}

footer {
    margin: 0px 0px 0px 0px;
    padding: 1px 1px 1px 1px;
    background-color: black;
    color: white;
    font-family: var(--font1);
    text-align: center;
}