@charset "UTF-8";


iframe {
    width: 720px;
    height: 70vh;
}

.container > iframe {
    height: 800px;
    width: 970px;
}

div.iframetela {
    text-align: center;
}

div.container ul > li {
    list-style: none;
    text-align: left;
    text-indent: 20px;
}

div.container > ul > li > a{
    text-decoration: none;
}

details a {
    color: blueviolet;
    text-decoration: none;
}

.container2 {
    text-indent: 50px;
}

details.container2 a {
    margin-left: 60px;
}
