@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    box-sizing: border-box;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

html, body {
    background-color: rgb(78, 78, 78);
    height: 100%;
    width: 100%;
}





                /* CABEÇALHO DO SITE */

header {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 23%;
}

div#selo {
    position: relative;
    align-self: center;
    background-color: brown;
    width: 10%;
    height: 75%;
}

div#nav {
    position: relative;
    top: 26%;
    left: 2%;   
    width: 78%;
    height: 74%;
}

#nav ul {
    margin: 0cm;
    padding: 0cm;
    height: 50%;
}

#nav li {
    display: inline;
    margin-right: 15px;
    background-color: rgba(255, 255, 0, 0);
}

div#nav a {
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: "Montserrat", Sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    color: whitesmoke;
}

div#nav a:hover {
    color: yellow;
}





                /*CONTEUDO DO SITE*/

main {
    width: 100%;
}

div.conteudo {
    background: url(image/gabigol-3.jpg);
    width: 100%;
    height: 98vh;
}

section.txt {
    position: relative;
    color: white;
    width: 500px;
    top: 125px;
    left: 405px;
}

.txt h1 {
    width: 500px;
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 55px;
}

.txt p {
    width: 500px;
    font-family: monospace,monospace;
    font-size: 42px;
}

.background-slider {
    width: 400px;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

div.subconteudo {
    display: flex;
    background-color: yellow;
    width: 100%;
    height: 79.5vh;
}

section.element-container {
    display: flex;
    position: relative;
    background-color: rgba(153, 205, 50, 0);
    width: 89%;
    height: 89%;
    align-self: center;
    left: 6%;
    vertical-align: middle;
    gap: 18px;
}

section.txt-container {
    display: inline-flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 40%;
    right: 82%;
    align-self: last baseline;
    gap: 18px;
}

div.bloco1 {
    background-color: rgb(255, 0, 0);
    background-image: url(image/mgomes1.jpg);
    background-size: cover;
    background-position: center;
    width: 359px;
    height: 269px;
}

div.bloco2 {
    background-color: blueviolet;
    background-image: url(image/mgomes2.jpg);
    background-size: cover;
    width: 359px;
    height: 269px;
}

div.bloco3 {
    background-color: chocolate;
    background-image: url(image/mgomes3.jpg);
    background-size: cover;
    background-position: center;
    width: 359px;
    height: 269px;
}

div.txt-bloco {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    width: 359px;
    font-weight: 600;
}

.txt-bloco p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, monospace;    
    font-size: 18px;
    height: 168px;
}