@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    display: flex;
    position: relative;
    top: 60px;
    margin: 0;
    width: 100%;
    background-image: url(images/the-matrix-digital-rain.jpg);
    flex-wrap: wrap;
    justify-content: center;
}

.contain-background {
    display: flex;
    background-color: hsl(215deg 12.57% 5.73% / 77%);
    width: 85%;
    height: 85vh;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.contain {
    display: flex;
    width: 365px;
    height: 540px;
    background-color: whitesmoke;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 20px;
}

.contain-img {
    background-image: url(images/image-qr-code.png);
    background-position: center;
    background-size: contain;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.contain-txt {
    display: grid;
    text-align: center;
    padding: 10px 50px;
    gap: 10px;
}

.contain-txt p {
    color: hsl(220, 15%, 55%);
}

footer{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

footer > p {
    color: white;
    font-size: larger;
}

footer > p > a:link {
    color: limegreen;
}


@media screen and (max-width: 540px){
    .contain {
        display: flex;
        width: 70%;
        height: 540px;
        background-color: whitesmoke;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }

    .contain-img {
        background-image: url(images/image-qr-code.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 80%;
        height: 48%;
        border-radius: 10px;
    }

    .contain-txt {
        display: grid;
        text-align: center;
        font-size: 90%;
        padding: 5px;
        gap: 10px;
    }
}